:root {
    --menu-superior: rgba(57, 72, 86, 1);
    --sombra-btn: rgba(156, 156, 156, 1);
    --titulo-claro-font-family: "Roboto", Helvetica;
    --titulo-claro-font-weight: 800;
    --titulo-claro-font-size: 40px;
    --titulo-claro-letter-spacing: 2px;
    --titulo-claro-line-height: normal;
    --titulo-claro-font-style: normal;
    --titulo-escuro-font-family: "Roboto", Helvetica;
    --titulo-escuro-font-weight: 700;
    --titulo-escuro-font-size: 40px;
    --titulo-escuro-letter-spacing: 0px;
    --titulo-escuro-line-height: normal;
    --titulo-escuro-font-style: normal;
    --profile-text-font-family: "Roboto", Helvetica;
    --profile-text-font-weight: 800;
    --profile-text-font-size: 24px;
    --profile-text-letter-spacing: 1.2px;
    --profile-text-line-height: normal;
    --profile-text-font-style: normal;
    --texto-comum-font-family: "Roboto", Helvetica;
    --texto-comum-font-weight: 400;
    --texto-comum-font-size: 24px;
    --texto-comum-letter-spacing: 1.2px;
    --texto-comum-line-height: normal;
    --texto-comum-font-style: normal;
    --texto-grande-font-family: "Roboto", Helvetica;
    --texto-grande-font-weight: 800;
    --texto-grande-font-size: 40px;
    --texto-grande-letter-spacing: 2px;
    --texto-grande-line-height: normal;
    --texto-grande-font-style: normal;
    --collection-1-nav-color: rgba(184, 184, 184, 1);
    --collection-1-lateral-color: var(--collection-1-nav-color);
    --collection-1-bot-o-atender: rgba(242, 123, 5, 1);
    --collection-1-bot-o-chamar: rgba(75, 176, 83, 1);
  }
  